/* @import url('https://fonts.googleapis.com/css2?family=Helios&family=Space+Mono&display=swap'); */
body {
    font-family: 'Noto%20Sans%20Adlam%20Unjoined', sans-serif;
    background: url("lib/img/background_deep_space_lots_of_stars.png") no-repeat center center fixed;
    background-size: cover;
}

h1,
h2,
h3 {
    font-family: 'Space Mono', monospace;
}


.container {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-evenly;
    background: rgba(0, 0, 50, 0.2);
}
.left-column {
    width: 100%;
    min-width: 230px;
    height: auto;
    flex-basis: 0;
    flex-grow: 1;
    margin: 0 15px;
    padding: 10px;
    background-color: rgba(0, 0, 51, 0.8);
    color: #fff;
}

.right-column {
    width: 100%;
    min-width: 280px;
    height: auto;
    flex-basis: 0;
    flex-grow: 1;
    margin: 0 15px;
    padding: 10px;
    background-color: rgba(0, 0, 51, 0.8);
    color: #fff;
}


.headshot-section {
    text-align: center;
}

.headshot-section img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid #fff;
}

.skills-section {
    margin-top: 20px;
}

.skills-section .skill {
    margin-bottom: 10px;
}

.skills-section .skill .progress-bar-container {
    width: 100%;
    height: 20px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 10px;
}

.skills-section .skill .progress-bar {
    height: 100%;
    background-color: #ffa500;
    border-radius: 10px;
}

.headshot-section,
.about-section,
.skills-section,
.education-section,
.projects-section,
.experience-section,
.hobbies-section{
    background:rgb();
    margin-top: 20px;
}

h2 {
    text-align: center;
    color: #00e5ff;
}

h3 {
    margin-bottom: 5px;
}

p {
    margin-bottom: 10px;
}

/* Links */
a {
    color: #ffa500;
    text-decoration: none;
}

a:hover {
    color: #ff8c00;
    text-decoration: underline;
}

/* Orange Accents */
.orange-accent {
    background-color: #ffa500;
    color: #ffffff;
}

/* Mobile styles */
body {
    font-size: 16px;
    background-color: #ccc;
}

/* Medium device styles */
@media (min-width: 400px) {
    body {
        font-size: 18px;
        background-color: #ddd;
    }
}

/* Large device styles */
@media (min-width: 700px) {
    body {
        font-size: 20px;
        background-color: #eee;
    }
}

/* Extra-large device styles */
@media (min-width: 1000px) {
    body {
        font-size: 24px;
        background-color: #fff;
    }
}