/* body {
    margin: 0;
    padding: 0;
} */

/* Styles for UI elements */
.color-button {
    width: 100px;
    height: 100px;
    background-color: green;
    border: 1px solid black;
    border-radius: 5px;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.red {
    background-color: red;
}

/* Styles related to passage formatting */
.story-title {
    font: small-caps bold 1.5em/1 sans-serif;
}

.story-content {
    font: normal 1.1em/1.25 sans-serif;
    padding: 1em;
}

.pop {
    font: small-caps 1em/2 sans-serif;
    padding-left: 1.5em;
}