/* @import url('https://fonts.googleapis.com/css2?family=Helios&family=Space+Mono&display=swap'); */

body {
    /* width: 90%; */
    margin: 0 auto;
    /* padding: 0px; */
    background: url("img/background_deep_space_lots_of_stars.png") no-repeat center center fixed;
    /* display: block; */
}

h1,
h2,
h3 {
    font-family: 'Space Mono', monospace;
}

.container {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    background: rgb(0, 0, 100, 0.5);
}

.left-column {
    flex-basis: 0;
    flex-grow: 1;
    /* width: max-content; */
    min-width:;
    margin: 0px 30px;
    padding: 20px;
    background-color: rgba(0, 0, 51, 0.5);
    color: #fff;
}

.right-column {
    flex-basis: 0;
    flex-grow: 1;
    margin: 0px auto;
    padding: 20px;
    background-color: rgba(0, 0, 51, 0.5);
    color: #fff;
}

.headshot-section {
    text-align: center;
}

.headshot-section img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid #fff;
}

.skills-section {
    margin-top: 20px;
}

.skills-section .skill {
    margin-bottom: 10px;
}

.skills-section .skill .progress-bar-container {
    width: 100%;
    height: 20px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 10px;
}

.skills-section .skill .progress-bar {
    height: 100%;
    background-color: #ffa500;
    border-radius: 10px;
}

.about-section,
.education-section,
.projects-section,
.experience-section,
.hobbies-section {
    margin-top: 20px;
}

h2 {
    text-align: center;
    color: #00e5ff;
}

h3 {
    margin-bottom: 5px;
}

p {
    margin-bottom: 10px;
}

/* Links */
a {
    color: #ffa500;
    text-decoration: none;
}

a:hover {
    color: #ff8c00;
    text-decoration: underline;
}

/* Orange Accents */
.orange-accent {
    background-color: #ffa500;
    color: #ffffff;
}